*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
#all-content{
    display: flex;
    align-content: flex-start;
}
/* start left side */
#left-side{
    
}
/* navbar start */
#navbar *{
    color: white;
}
.nav {
    padding-left: 5%;
    padding-right: 25%;
    background-color: rgb(40, 53, 58);
    border: 5px solid rgb(40, 53, 58);
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
.nav-title {
    display: inline-flex;
    padding-left: 5px;
}
.nav-links {
    list-style: none;
    display: flex;
    padding-right: 70px;
    gap: 30px;
}
a {
    text-decoration: none;
}
a:hover{
    background-color: rgb(184, 184, 184);
    border-radius: 30%;
    opacity: 100%;
}
.btn {
    font-family: cursive;
    font-weight: bolder;
    color: white;
    background-color: rgb(36, 162, 201);
    height: 35px;
    width: 105px;
    border: 2px solid black;
    border-radius: 10%;
}
/* navbar end */
/* main profile card start */
.card{
    margin: 30px auto;
    margin-left: 190px;
    background-color:rgb(255, 255, 255);
    border: 5px gray solid;
    border-radius: 5pt;
    width: 555px;
    height: 402px;
    display: flex;
    position: relative;
}
.card-header {
    background-color:rgb(36, 162, 201);
    width: 585px;
    height: 130px;
    display: inline-flex;
}
.userLogo{
    border: 8px solid white;
    border-radius: 200px;
    width: 120px;
    position: absolute;
    top: 80px;
    left: 50px;
    box-shadow: -5px 0px 0px gray;
}
#name {
    position: absolute;
    top: 200px;
    left: 40px;
    text-decoration-line: underline;
}
.map-marker {
    width: 17px;
    position: absolute;
    top: 250px;
    left: 40px;
}
.location {
    width: 17px;
    position: absolute;
    top: 250px;
    left: 70px;
    text-decoration-line: underline;
}
.skills {
    font-weight: bolder;
    position: absolute;
    top: 312px;
    left: 40px;
}
.bio {
    font-weight: bolder;
    position: absolute;
    top: 290px;
    left: 40px;
}
.gear_image {
    position: absolute;
    width: 25px;
    bottom: 15px;
    left: 40px;
}
.editprof {
    position: absolute;
    font-weight: bold;
    color: rgb(36, 162, 201);
    bottom: 15px;
    left: 80px;
    text-decoration-line: underline;
}
/* main profile card end */
/* start of request tab */
.EDtab{
    margin: 30px auto;
    margin-left: 190px;
    background-color:rgb(255, 255, 255);
    border: 5px gray solid;
    border-radius: 5pt;
    width: 555px;
    height: 402px;
}
.EDtab_header {
    background-color: rgb(40, 53, 58);
    width: 545px;
    height: 50px;
    display: flex;
    justify-content:left;
}
#EDtabtitle{
    color: white;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 20px;
}
.EDcontent {
    margin-top: 20px;
    margin-left: 30px;
}
h3{
    padding-top: 10px;
    opacity: 50%;
    text-decoration-line: underline;
}
.EDbio{
    padding-top: 20px;
    padding-right: 35px;
    font-size: 15px;
}
/* end of EDtab */
/* end of left side */
/* start right side */
#right-side{
    
}
/* start of friendRQs tab */
.RQtab{
    margin: 30px auto;
    margin-left: 90px;
    background-color:rgb(255, 255, 255);
    border: 5px gray solid;
    border-radius: 5pt;
    width: 340px;
    height: 260px;
    position: absolute;
    display: inline-flex;
}
.RQtab_header{
    background-color: rgb(40, 53, 58);
    width: 330px;
    height: 50px;
    display: inline-flex;
    justify-content:left;
    position: absolute;
}
#RQtitle{
    color: white;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 20px;
}
.notifbell{
   height: 40px;
   position: absolute;
   right: 20px;
   top: 5px;
}
.toddspic{
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 155px;
    border: 3px solid rgb(40, 53, 58);
}
.philspic{
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 65px;
    border: 3px solid rgb(40, 53, 58);
}
.toddname{
    position: absolute;
    left: 100px;
    top: 155px;
    font-size: 20px;
    opacity: 100%;
    font-weight: bolder;
    text-decoration-line: underline;
}
.philname{
    position: absolute;
    left: 100px;
    top: 65px;
    font-size: 20px;
    opacity: 100%;
    font-weight: bolder;
    text-decoration-line: underline;
}
.accept1{
    width: 45px;
    position: absolute;
    left: 200px;
    top: 165px;
}
.deny1{
    width: 45px;
    position: absolute;
    left: 260px;
    top: 165px;
}
.accept2{
    width: 45px;
    position: absolute;
    left: 200px;
    top: 70px;
}
.deny2{
    width: 45px;
    position: absolute;
    left: 260px;
    top: 70px;
}
/* end of RQ tab */
/* start of your connections */
.your_connections{
    margin: 30px auto;
    margin-left: 90px;
    background-color:rgb(255, 255, 255);
    border: 5px gray solid;
    border-radius: 5pt;
    width: 340px;
    height: 460px;
    position: relative;
    top: 300px;
}
.connections_header{
    background-color: rgb(40, 53, 58);
    width: 330px;
    height: 50px;
    position: absolute;
}
#list_of_connections{
    color: white;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 20px;
}
.connections{
    margin-top: 70px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
}
.friendspics{
    bottom: 60px;
    margin: 5px;
    width: 65px;
    border-radius: 50%;
    border: 3px solid rgb(40, 53, 58);
}
.viewmore {
    position: absolute;
    font-weight: bold;
    text-decoration-line: underline;
    color: rgb(36, 162, 201);
    bottom: 15px;
    left: 30px;
}
/* end of right side */
/* end of page */
